{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">ABOUT US...</h1>
            <p class="lead fw-normal text-white-50 mb-0">WELCOME to SHUDKA Ecommerce</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-8 mx-auto">
            <center>
                <div>
                    <br/><br/>
                    <p align="justify">
                  Lorem ipsum odor amet, consectetuer adipiscing elit. Feugiat leo turpis neque nunc, odio felis sociosqu rutrum. Himenaeos sollicitudin eu nostra est consectetur mattis arcu. Rutrum rutrum quisque convallis elementum arcu, pretium sed laoreet. Iaculis ligula non eros magnis nostra. Habitasse class ligula ac sed quam magnis. Fames ridiculus dictumst phasellus habitasse sed.

Nunc mauris id dictum dictum a imperdiet varius ullamcorper. Eros quam sed finibus facilisi pellentesque, aliquet sed. Sem natoque malesuada varius egestas iaculis potenti est dictum. Donec ad tortor proin turpis torquent nullam rhoncus ipsum etiam. Enim lacus aliquam sagittis varius sem consequat. Ligula proin nullam pharetra dignissim pretium feugiat elit risus. Feugiat vitae lacinia platea lobortis interdum maecenas. Tempus tristique integer nec justo ridiculus placerat primis parturient. Mollis lacus adipiscing urna ut, est sem torquent pretium.
<br/><br/>
Dolor vitae ultricies ornare leo nibh vitae vel. Tellus natoque purus maximus; potenti tortor interdum. Nec ridiculus convallis nisi quis sodales commodo facilisis natoque. Sollicitudin eget dis viverra porttitor dapibus hendrerit eleifend aenean vulputate. Felis tortor convallis pharetra netus, eleifend nostra diam tellus. Donec est maecenas vehicula mauris aenean lacus nisl. Volutpat turpis lacus hendrerit euismod interdum morbi sociosqu facilisi. Dis finibus massa conubia id consequat. Eros libero praesent elit tristique ad.  
       </p>
       <br/><br/>
                </div>
            </center>
        </div>
    </div>
</div>
{% endblock %}
